.chat_nexcore {
  position: fixed !important;
  z-index: 9999999;
  width: 350px;
  display: block;
  height: auto;
  overflow: hidden;
  right: 10px;
  transition: bottom 0.5s;
}

.fale_conosco {
  background: transparent;
  overflow: hidden !important;
  -webkit-transition: bottom 0.5s;
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;
  margin: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.fale_conosco_toggle {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 0px !important;
  overflow: hidden;
  background: white;
}

.chat_nexcore_toggle {
  overflow: hidden;
}

.col-lg-5, .col-md-5 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.fale_conosco .header_fale_conosco {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
  height: 40px;
  width: 100%;
  background-color: #ac1d1a;
  border-bottom: 3px solid #651511;
  position: relative;
  cursor: pointer;
  padding-left: 15px;
}

.header_fale_conosco_toggle {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 15px !important;
}

.box-form {
  padding: 5px;
  padding-top: 25px;
}

.fale_conosco input, .fale_conosco select {
  height: 28px;
  padding: 4px 12px;
}

.footer_fale_conosco {
  text-align: right;
  bottom: 0px;
  position: relative !important;
  padding: 10px;
  position: fixed;
  background: white;
  width: 100%;
  height: auto;
  font-size: 12px;
  border-top: 1px solid #dcdcdc;
}

.footer_fale_conosco span img {
  width: 80px;
}

.entrar_chat {
  text-align: center;
  bottom: 0px;
  position: relative !important;
  padding: 10px;
}

.entrar_chat .btnEntrar {
  width: 120px;
  height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: #747474;
  font-size: 16px;
  border: 1px solid #747474;
  border-radius: 2px;
  background: white;
}

.entrar_chat .btnEntrar:hover {
  background: #5bb85d !important;
  transition: background 0.5s;
  color: #fff !important;
  border: 1px solid #5bb85d;
}

.body_fale_conosco {
  background: white;
  max-height: 525px;
  margin-top: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.messenger, .telegram, .whatsapp, .nchat, .email, .clicktocall {
  align-items: center;
  width: 30px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.email_campos {
  display: none;
}

.clicktocall_campos {
  display: none;
}

.email_campos textarea {
  height: 100px;
  resize: none;
}

.messenger img, .telegram img, .whatsapp img, .email img, .nchat img, .clicktocall img { transition: 250ms ease-in-out; cursor: pointer; }

.messenger img:hover, .telegram img:hover, .whatsapp img:hover, .email img:hover, .nchat img:hover, .clicktocall img:hover { 
  -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
      -ms-transform: scale(1.4);
       -o-transform: scale(1.4);
          transform: scale(1.4); 
}

.chats { height: 60px; text-align: right; }

::-webkit-scrollbar { width: 8px; height: 10px; -webkit-border-radius: 0px; } 
::-webkit-scrollbar-track-piece { background-color: #e2e2e2; -webkit-border-radius: 0px; } 
::-webkit-scrollbar-thumb:vertical { height: 8px; background-color: #949292; -webkit-border-radius: 30px; } 
::-webkit-scrollbar-thumb:horizontal { width: 8px; background-color: #949292; }

.icone_nex { float: left; cursor: pointer; color: #fff; font-size: 20px; margin-top: 4px; }
.icon-nex-nchat { color: #fff !important; font-size: 30px !important;}
.icone_nex .fa { top: -7px; }

.label_fale_conosco {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  margin-top: 8px;
  font-size: 16px;
  margin-left: 10px;
  border-left: 1px solid #fff;
  padding-left: 15px; 
}

.label_fale_conosco label {
  cursor: pointer;
  margin-bottom: 0px !important;
}

.chevron_up_down {
  display: inline-block;
  color: #fff;
  float: right;
  font-size: 15px;
  margin-right: 15px;
  margin-top: 7px;
  cursor: pointer;
}

.input_error {
  border: 1px solid red !important;
}

.span_error { color: red; display: none; font-size: 12px; }

.small_error { color: red; }

.btn_finalizar { color: #727272 !important; font-weight: bold !important; border: 1px solid #727272 !important; }

.btn_finalizar:hover { color: #FFF !important; font-weight: bold !important; border: 1px solid #727272 !important; background: #5bb85d !important; border: 1px solid #5bb85d !important;;}

.swal-wide{ width:700px !important; }
